<div>
    <h2>Enter your login, email and password</h2>
    <input 
        type="text" 
        class="form-control" 
        placeholder="Login..."
        [(ngModel)]="login"
        #titleInput
    >
    <input 
        type="text" 
        class="form-control" 
        placeholder="Email..."
        [(ngModel)]="email"
    >
    <input 
        type="password" 
        class="form-control" 
        placeholder="Password..."
        [(ngModel)]="password"
    >

    <button class="btn" (click)="addUser()">Registration</button>

    <br><p *ngIf="registrResp.error" class="error">{{registrResp.error}}</p>
    <br><p *ngIf="registrResp.hello" class="sucsess">Registration completed!</p>
</div>